:root {
  --ion-color-primary: #4a90e2;
  --ion-color-primary-rgb: 74, 144, 226;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3e7acb;
  --ion-color-primary-tint: #5997e8;

  --ion-color-secondary: #50e3c2;
  --ion-color-secondary-rgb: 80, 227, 194;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #46c8ac;
  --ion-color-secondary-tint: #61e6ca;

  --ion-color-tertiary: #b8e986;
  --ion-color-tertiary-rgb: 184, 233, 134;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #a2cc76;
  --ion-color-tertiary-tint: #bfe992;

  --ion-font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    --ion-font-family: 'Inter var', sans-serif;
  }
}