<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Himalayan Learning Hub 📚</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="section-title">Select Your Class</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto" *ngFor="let className of classes">
              <ion-button expand="block" class="class-card" (click)="selectClass(className)">
                {{ className }}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
